In [1]:
!pip install pyspark findspark -q

In [2]:
import findspark
findspark.init()

import pyspark
from pyspark.context import SparkContext, SparkConf
from pyspark.sql.session import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Hotel_logs")
    .config("spark.ui.port", "9311")
    .getOrCreate()
)

spark

In [3]:
from pyspark.sql import functions as F

In [4]:
df = (
    spark.read
    .option("header", True)
    .option("inferSchema", True)
    .option("sep", ",")
    .csv("Hotel.csv")
)

df.show(5)
df.printSchema()
df.count()

+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|      ID|n_adults|n_children|weekend_nights|week_nights|   meal_plan|car_parking_space|  room_type|lead_time|year|month|date|market_segment|repeated_guest|previous_cancellations|previous_bookings_not_canceled|avg_room_price|special_requests|      status|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
|INN00001|       2|         0|             1|          2| Meal Plan 1|                0|Room_Type 1|      224|2017|   10|   2|       Offline|             0|                     0|                             0|          65.0|               0|Not_Canceled|
|INN00002|       2|         0|             2|          3|Not Selected|                0|Room_Type 1|        5|2018|   11|   6|        Online|             0|                     0|                             0|        106.68|               1|Not_Canceled|
|INN00003|       1|         0|             2|          1| Meal Plan 1|                0|Room_Type 1|        1|2018|    2|  28|        Online|             0|                     0|                             0|          60.0|               0|    Canceled|
|INN00004|       2|         0|             0|          2| Meal Plan 1|                0|Room_Type 1|      211|2018|    5|  20|        Online|             0|                     0|                             0|         100.0|               0|    Canceled|
|INN00005|       2|         0|             1|          1|Not Selected|                0|Room_Type 1|       48|2018|    4|  11|        Online|             0|                     0|                             0|          94.5|               0|    Canceled|
+--------+--------+----------+--------------+-----------+------------+-----------------+-----------+---------+----+-----+----+--------------+--------------+----------------------+------------------------------+--------------+----------------+------------+
only showing top 5 rows
root
 |-- ID: string (nullable = true)
 |-- n_adults: integer (nullable = true)
 |-- n_children: integer (nullable = true)
 |-- weekend_nights: integer (nullable = true)
 |-- week_nights: integer (nullable = true)
 |-- meal_plan: string (nullable = true)
 |-- car_parking_space: integer (nullable = true)
 |-- room_type: string (nullable = true)
 |-- lead_time: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- date: integer (nullable = true)
 |-- market_segment: string (nullable = true)
 |-- repeated_guest: integer (nullable = true)
 |-- previous_cancellations: integer (nullable = true)
 |-- previous_bookings_not_canceled: integer (nullable = true)
 |-- avg_room_price: double (nullable = true)
 |-- special_requests: integer (nullable = true)
 |-- status: string (nullable = true)

36275

In [5]:
calendar_df = (
    spark.range(1)
    .select(
        F.explode(
            F.sequence(
                F.to_date(F.lit("2017-01-01"), "yyyy-MM-dd"),
                F.to_date(F.lit("2018-12-31"), "yyyy-MM-dd"),
                F.expr("interval 1 day")
            )
        ).alias("dt")
    )
    .select(
        F.date_format("dt", "yyyy-dd-MM").alias("calendar_dt")
    )
)

calendar_df.createOrReplaceTempView("calendar")
calendar_df.show(5)
calendar_df.printSchema()
calendar_df.count()

+-----------+
|calendar_dt|
+-----------+
| 2017-01-01|
| 2017-02-01|
| 2017-03-01|
| 2017-04-01|
| 2017-05-01|
+-----------+
only showing top 5 rows
root
 |-- calendar_dt: string (nullable = false)

730

In [6]:
calendar_dates = calendar_df.select(F.col("calendar_dt").alias("cal_dt"))

# 1.	Вычислить среднее количество ночей, которые гости проводят в отеле (только для подтвержденных бронирований, с детализацией по месяцам и годам). Среднее количество ночей рассчитано только для подтвержденных броней, агрегировано по месяцам и годам, корректный вывод.

In [7]:
from pyspark.sql import functions as F

avg_nights_by_year_month = (
    df
    .filter(F.col("status") == "Not_Canceled")
    .withColumn("total_nights", F.col("weekend_nights") + F.col("week_nights"))
    .groupBy("year", "month")
    .agg(F.avg("total_nights").alias("avg_nights"))
    .orderBy("year", "month")
)

avg_nights_by_year_month.show()

+----+-----+------------------+
|year|month|        avg_nights|
+----+-----+------------------+
|2017|    7|3.0166666666666666|
|2017|    8|2.7189384800965017|
|2017|    9|2.6550783912747105|
|2017|   10|2.7032898820608318|
|2017|   11|2.7241935483870967|
|2017|   12| 3.043046357615894|
|2018|    1|2.7414141414141415|
|2018|    2|2.6891679748822606|
|2018|    3|3.0392038600723765|
|2018|    4| 2.924755887421022|
|2018|    5|2.8054545454545456|
|2018|    6| 2.596757322175732|
|2018|    7|3.1938088829071334|
|2018|    8|3.1544117647058822|
|2018|    9| 2.786425902864259|
|2018|   10|2.8910186199342824|
|2018|   11|2.9784511784511785|
|2018|   12|3.2521891418563924|
+----+-----+------------------+

# 2.	Определить ТОП-3 месяца по проценту отмененных броней за 2018 год. Правильный фильтр по 2018 году, рассчитано отношение отмененных к общим бронированиям по месяцам, отсортировано по убыванию, выбраны ТОП-3.

In [8]:
top3_cancel_months_2018 = (
    df
    .filter(F.col("year") == 2018)
    .groupBy("month")
    .agg(
        F.count("*").alias("total_bookings"),
        F.sum(F.when(F.col("status") == "Canceled", 1).otherwise(0)).alias("canceled_bookings")
    )
    .withColumn(
        "cancel_rate",
        F.col("canceled_bookings") / F.col("total_bookings")
    )
    .orderBy(F.col("cancel_rate").desc())
    .limit(3)
)

top3_cancel_months_2018.show()

+-----+--------------+-----------------+------------------+
|month|total_bookings|canceled_bookings|       cancel_rate|
+-----+--------------+-----------------+------------------+
|    8|          2799|             1303|0.4655234012147195|
|   10|          3404|             1578| 0.463572267920094|
|    9|          2962|             1356|0.4577987846049966|
+-----+--------------+-----------------+------------------+

# 3.	Вычислить среднее время на каждый месяц между бронированием и заездом в отель для подтвержденных броней. Корректно рассчитано среднее время, создан фильтр, группировка по месяцу, правильное округление и формат.

3.1. Вариант 1. Исходим из того, что требуется посчитать среднее за каждый календарный месяц.

In [9]:
avg_lead_time_by_month = (
    df
    .filter(F.col("status") == "Not_Canceled")
    .groupBy("year", "month")
    .agg(
        F.round(F.avg("lead_time"), 2).alias("avg_lead_time_days")
    )
    .orderBy("year", "month")
)

avg_lead_time_by_month.show()

+----+-----+------------------+
|year|month|avg_lead_time_days|
+----+-----+------------------+
|2017|    7|            130.73|
|2017|    8|             35.08|
|2017|    9|             51.72|
|2017|   10|             55.89|
|2017|   11|             33.28|
|2017|   12|             46.75|
|2018|    1|             34.87|
|2018|    2|             30.53|
|2018|    3|             43.19|
|2018|    4|             62.49|
|2018|    5|             60.99|
|2018|    6|             70.64|
|2018|    7|             86.88|
|2018|    8|             83.09|
|2018|    9|             63.32|
|2018|   10|             73.24|
|2018|   11|             44.25|
|2018|   12|             69.75|
+----+-----+------------------+

3.2. Вариант 2. Полагаем, что требуется посчитать среднее за месяц из всей выборки (например, среднее за январь без учета года)

In [10]:
avg_lead_time_by_month_only = (
    df
    .filter(F.col("status") == "Not_Canceled")
    .groupBy("month")
    .agg(
        F.round(F.avg("lead_time"), 2).alias("avg_lead_time_days")
    )
    .orderBy("month")
)

avg_lead_time_by_month_only.show()

+-----+------------------+
|month|avg_lead_time_days|
+-----+------------------+
|    1|             34.87|
|    2|             30.53|
|    3|             43.19|
|    4|             62.49|
|    5|             60.99|
|    6|             70.64|
|    7|             90.16|
|    8|             65.97|
|    9|             57.78|
|   10|             65.11|
|   11|             41.02|
|   12|             61.79|
+-----+------------------+

# 4.	Вычислить общую среднюю выручку на каждый месяц в каждом году, сгруппировав по всем типам бронирования для подтвержденных броней, и вывести это в виде сводной таблицы (PIVOT). Корректная фильтрация по подтвержденным броням, группировка по году, месяцу, типу бронирования, подсчет средней выручки и вывод в виде сводной таблицы (PIVOT)

In [11]:
base_agg = (
    df
    .filter(F.col("status") == "Not_Canceled")
    .groupBy("year", "month", "market_segment")
    .agg(
        F.round(F.avg("avg_room_price"), 2)
         .alias("avg_revenue")
    )
)

pivot_revenue = (
    base_agg
    .groupBy("year", "month")
    .pivot("market_segment")
    .agg(F.first("avg_revenue"))
    .orderBy("year", "month")
)

pivot_revenue.show()

+----+-----+--------+-------------+---------+-------+------+
|year|month|Aviation|Complementary|Corporate|Offline|Online|
+----+-----+--------+-------------+---------+-------+------+
|2017|    7|    NULL|         7.47|     65.0|  88.19| 65.55|
|2017|    8|    NULL|         0.32|    66.92|  97.16| 97.86|
|2017|    9|    NULL|         7.37|    86.03|   96.8|113.33|
|2017|   10|    NULL|         0.55|    84.48|  89.08|101.97|
|2017|   11|    NULL|         4.94|    68.08|  66.18| 84.75|
|2017|   12|    NULL|         0.05|    69.03|  69.95| 87.31|
|2018|    1|    NULL|         1.73|    68.88|  73.97| 80.19|
|2018|    2|    88.0|         0.75|    74.98|  75.07|  87.5|
|2018|    3|    89.0|         16.2|    74.05|  72.64| 96.81|
|2018|    4|   97.57|          0.0|     80.0|  86.83|105.49|
|2018|    5|   101.0|          0.0|    100.9|  94.97|123.91|
|2018|    6|    95.0|          0.0|    84.83| 103.01| 119.3|
|2018|    7|    79.0|         2.69|    84.86|  87.78|123.71|
|2018|    8|    NULL|          0.0|    88.65|  86.69|130.99|
|2018|    9|  106.25|        10.96|    104.7|  96.48| 136.7|
|2018|   10|  105.42|         0.13|    84.49|  91.52|123.52|
|2018|   11|   92.75|          4.2|    78.05|  84.62| 104.5|
|2018|   12|    NULL|          0.8|    77.91|   80.2| 102.2|
+----+-----+--------+-------------+---------+-------+------+

# 5.	Выявить ТОП-5 постоянных гостей, которые принесли наибольшую выручку за все время, и показать их долю в общей выручке от постоянных гостей. Использовать уникальный идентификатор брони как уникальный идентификатор гостя, предположив, что 1 бронь = 1 гость. Отфильтрованы постоянные гости, рассчитана выручка по каждому, выбраны ТОП-5, посчитана доля каждого в общей выручке, отображены имя/ID, сумма, доля.

In [12]:
from pyspark.sql.window import Window

regular_guests = (
    df
    .filter((F.col("repeated_guest") == 1) & (F.col("status") == "Not_Canceled"))
    .groupBy("ID")
    .agg(F.sum("avg_room_price").alias("guest_revenue"))
)

w_all = Window.partitionBy()
regular_with_share = (
    regular_guests
    .withColumn(
        "revenue_share",
        F.col("guest_revenue") / F.sum("guest_revenue").over(w_all)
    )
)

top5_regular_guests = (
    regular_with_share
    .orderBy(F.col("guest_revenue").desc())
    .limit(5)
)

top5_regular_guests.show(truncate=False)

+--------+-------------+---------------------+
|ID      |guest_revenue|revenue_share        |
+--------+-------------+---------------------+
|INN09923|220.0        |0.0036840535574309626|
|INN35697|174.0        |0.002913751449968125 |
|INN25587|164.0        |0.002746294470084899 |
|INN35599|159.0        |0.0026625659801432864|
|INN06463|159.0        |0.0026625659801432864|
+--------+-------------+---------------------+

# 6.	Вывести общее количество гостей на каждый день в отеле, отсортировав по убыванию дат, включая дни, когда отель пустует. Также рассчитать процент загрузки для каждого дня, если известно, что общая вместимость отеля 400 человек. Реализация полная: для всех дат в диапазоне бронирований отображено количество гостей и процент загрузки, включая нули; оптимизировано по производительности, корректная сортировка, учтен формат даты.

In [13]:
bookings_with_guests = df.withColumn(
    "guests", F.col("n_adults") + F.col("n_children")
).filter(F.col("status") == "Not_Canceled")

valid_bookings = (
    bookings_with_guests
    .filter((F.col("month") >= 1) & (F.col("month") <= 12))
    .filter((F.col("date") >= 1) & (F.col("date") <= 31))
    .filter(~((F.col("month") == 2) & (F.col("date") > 29)))
    .filter(
        ~(
            F.col("month").isin([4, 6, 9, 11]) &
            (F.col("date") > 30)
        )
    )
    .filter(
        ~(
            (F.col("month") == 2) &
            (F.col("date") == 29) &
            (
                (F.col("year") % 400 != 0) &
                ~((F.col("year") % 4 == 0) & (F.col("year") % 100 != 0))
            )
        )
    )
)

valid_bookings = valid_bookings.withColumn(
    "checkin_dt",
    F.to_date(
        F.concat_ws(
            "-",
            F.col("year").cast("string"),
            F.lpad(F.col("month").cast("string"), 2, "0"),
            F.lpad(F.col("date").cast("string"), 2, "0")
        ),
        "yyyy-MM-dd"
    )
)

week_days = (
    valid_bookings
    .filter(F.col("week_nights") > 0)
    .select(
        "guests",
        F.explode(
            F.sequence(
                F.col("checkin_dt"),
                F.expr("date_add(checkin_dt, week_nights - 1)"),
                F.expr("interval 1 day")
            )
        ).alias("stay_dt")
    )
)

weekend_days = (
    valid_bookings
    .filter(F.col("weekend_nights") > 0)
    .select(
        "guests",
        F.explode(
            F.sequence(
                F.expr("date_add(checkin_dt, week_nights)"),
                F.expr("date_add(checkin_dt, week_nights + weekend_nights - 1)"),
                F.expr("interval 1 day")
            )
        ).alias("stay_dt")
    )
)

stays_by_day = week_days.unionByName(weekend_days)

daily_guests = (
    stays_by_day
    .groupBy("stay_dt")
    .agg(F.sum("guests").alias("total_guests"))
)

calendar_dates = (
    calendar_df
    .withColumn("cal_dt", F.to_date("calendar_dt", "yyyy-dd-MM"))
    .select("cal_dt")
)

daily_occupancy = (
    calendar_dates
    .join(daily_guests, calendar_dates.cal_dt == daily_guests.stay_dt, "left")
    .select(
        F.date_format("cal_dt", "yyyy-MM-dd").alias("date"),
        F.coalesce(F.col("total_guests"), F.lit(0)).alias("total_guests")
    )
    .withColumn(
        "load_pct",
        F.round(F.col("total_guests") / F.lit(400) * 100, 2)
    )
    .orderBy(F.col("date").desc())
)

daily_occupancy.show(500, truncate=False)

+----------+------------+--------+
|date      |total_guests|load_pct|
+----------+------------+--------+
|2018-12-31|562         |140.5   |
|2018-12-30|572         |143.0   |
|2018-12-29|542         |135.5   |
|2018-12-28|507         |126.75  |
|2018-12-27|552         |138.0   |
|2018-12-26|422         |105.5   |
|2018-12-25|397         |99.25   |
|2018-12-24|373         |93.25   |
|2018-12-23|341         |85.25   |
|2018-12-22|282         |70.5    |
|2018-12-21|247         |61.75   |
|2018-12-20|240         |60.0    |
|2018-12-19|228         |57.0    |
|2018-12-18|258         |64.5    |
|2018-12-17|274         |68.5    |
|2018-12-16|254         |63.5    |
|2018-12-15|170         |42.5    |
|2018-12-14|155         |38.75   |
|2018-12-13|153         |38.25   |
|2018-12-12|167         |41.75   |
|2018-12-11|240         |60.0    |
|2018-12-10|573         |143.25  |
|2018-12-09|588         |147.0   |
|2018-12-08|530         |132.5   |
|2018-12-07|403         |100.75  |
|2018-12-06|347         |86.75   |
|2018-12-05|439         |109.75  |
|2018-12-04|404         |101.0   |
|2018-12-03|489         |122.25  |
|2018-12-02|386         |96.5    |
|2018-12-01|191         |47.75   |
|2018-11-30|138         |34.5    |
|2018-11-29|158         |39.5    |
|2018-11-28|180         |45.0    |
|2018-11-27|181         |45.25   |
|2018-11-26|271         |67.75   |
|2018-11-25|283         |70.75   |
|2018-11-24|181         |45.25   |
|2018-11-23|179         |44.75   |
|2018-11-22|185         |46.25   |
|2018-11-21|208         |52.0    |
|2018-11-20|292         |73.0    |
|2018-11-19|411         |102.75  |
|2018-11-18|400         |100.0   |
|2018-11-17|338         |84.5    |
|2018-11-16|349         |87.25   |
|2018-11-15|309         |77.25   |
|2018-11-14|369         |92.25   |
|2018-11-13|364         |91.0    |
|2018-11-12|381         |95.25   |
|2018-11-11|362         |90.5    |
|2018-11-10|247         |61.75   |
|2018-11-09|246         |61.5    |
|2018-11-08|248         |62.0    |
|2018-11-07|243         |60.75   |
|2018-11-06|239         |59.75   |
|2018-11-05|338         |84.5    |
|2018-11-04|376         |94.0    |
|2018-11-03|372         |93.0    |
|2018-11-02|394         |98.5    |
|2018-11-01|349         |87.25   |
|2018-10-31|389         |97.25   |
|2018-10-30|373         |93.25   |
|2018-10-29|349         |87.25   |
|2018-10-28|303         |75.75   |
|2018-10-27|340         |85.0    |
|2018-10-26|344         |86.0    |
|2018-10-25|353         |88.25   |
|2018-10-24|254         |63.5    |
|2018-10-23|260         |65.0    |
|2018-10-22|315         |78.75   |
|2018-10-21|320         |80.0    |
|2018-10-20|348         |87.0    |
|2018-10-19|347         |86.75   |
|2018-10-18|346         |86.5    |
|2018-10-17|317         |79.25   |
|2018-10-16|257         |64.25   |
|2018-10-15|445         |111.25  |
|2018-10-14|419         |104.75  |
|2018-10-13|497         |124.25  |
|2018-10-12|221         |55.25   |
|2018-10-11|228         |57.0    |
|2018-10-10|275         |68.75   |
|2018-10-09|346         |86.5    |
|2018-10-08|319         |79.75   |
|2018-10-07|306         |76.5    |
|2018-10-06|328         |82.0    |
|2018-10-05|315         |78.75   |
|2018-10-04|335         |83.75   |
|2018-10-03|322         |80.5    |
|2018-10-02|215         |53.75   |
|2018-10-01|177         |44.25   |
|2018-09-30|211         |52.75   |
|2018-09-29|255         |63.75   |
|2018-09-28|292         |73.0    |
|2018-09-27|322         |80.5    |
|2018-09-26|302         |75.5    |
|2018-09-25|310         |77.5    |
|2018-09-24|280         |70.0    |
|2018-09-23|252         |63.0    |
|2018-09-22|274         |68.5    |
|2018-09-21|235         |58.75   |
|2018-09-20|268         |67.0    |
|2018-09-19|291         |72.75   |
|2018-09-18|291         |72.75   |
|2018-09-17|287         |71.75   |
|2018-09-16|318         |79.5    |
|2018-09-15|329         |82.25   |
|2018-09-14|216         |54.0    |
|2018-09-13|241         |60.25   |
|2018-09-12|347         |86.75   |
|2018-09-11|362         |90.5    |
|2018-09-10|306         |76.5    |
|2018-09-09|326         |81.5    |
|2018-09-08|318         |79.5    |
|2018-09-07|368         |92.0    |
|2018-09-06|357         |89.25   |
|2018-09-05|363         |90.75   |
|2018-09-04|344         |86.0    |
|2018-09-03|332         |83.0    |
|2018-09-02|383         |95.75   |
|2018-09-01|387         |96.75   |
|2018-08-31|345         |86.25   |
|2018-08-30|346         |86.5    |
|2018-08-29|363         |90.75   |
|2018-08-28|340         |85.0    |
|2018-08-27|334         |83.5    |
|2018-08-26|346         |86.5    |
|2018-08-25|346         |86.5    |
|2018-08-24|334         |83.5    |
|2018-08-23|356         |89.0    |
|2018-08-22|375         |93.75   |
|2018-08-21|359         |89.75   |
|2018-08-20|347         |86.75   |
|2018-08-19|263         |65.75   |
|2018-08-18|225         |56.25   |
|2018-08-17|388         |97.0    |
|2018-08-16|367         |91.75   |
|2018-08-15|366         |91.5    |
|2018-08-14|351         |87.75   |
|2018-08-13|343         |85.75   |
|2018-08-12|320         |80.0    |
|2018-08-11|328         |82.0    |
|2018-08-10|323         |80.75   |
|2018-08-09|337         |84.25   |
|2018-08-08|366         |91.5    |
|2018-08-07|349         |87.25   |
|2018-08-06|364         |91.0    |
|2018-08-05|339         |84.75   |
|2018-08-04|311         |77.75   |
|2018-08-03|309         |77.25   |
|2018-08-02|308         |77.0    |
|2018-08-01|287         |71.75   |
|2018-07-31|202         |50.5    |
|2018-07-30|201         |50.25   |
|2018-07-29|295         |73.75   |
|2018-07-28|322         |80.5    |
|2018-07-27|365         |91.25   |
|2018-07-26|350         |87.5    |
|2018-07-25|346         |86.5    |
|2018-07-24|327         |81.75   |
|2018-07-23|308         |77.0    |
|2018-07-22|210         |52.5    |
|2018-07-21|293         |73.25   |
|2018-07-20|360         |90.0    |
|2018-07-19|382         |95.5    |
|2018-07-18|367         |91.75   |
|2018-07-17|338         |84.5    |
|2018-07-16|351         |87.75   |
|2018-07-15|391         |97.75   |
|2018-07-14|396         |99.0    |
|2018-07-13|432         |108.0   |
|2018-07-12|398         |99.5    |
|2018-07-11|391         |97.75   |
|2018-07-10|369         |92.25   |
|2018-07-09|362         |90.5    |
|2018-07-08|372         |93.0    |
|2018-07-07|345         |86.25   |
|2018-07-06|389         |97.25   |
|2018-07-05|387         |96.75   |
|2018-07-04|379         |94.75   |
|2018-07-03|391         |97.75   |
|2018-07-02|380         |95.0    |
|2018-07-01|393         |98.25   |
|2018-06-30|379         |94.75   |
|2018-06-29|373         |93.25   |
|2018-06-28|374         |93.5    |
|2018-06-27|327         |81.75   |
|2018-06-26|239         |59.75   |
|2018-06-25|135         |33.75   |
|2018-06-24|132         |33.0    |
|2018-06-23|227         |56.75   |
|2018-06-22|312         |78.0    |
|2018-06-21|356         |89.0    |
|2018-06-20|363         |90.75   |
|2018-06-19|352         |88.0    |
|2018-06-18|373         |93.25   |
|2018-06-17|346         |86.5    |
|2018-06-16|365         |91.25   |
|2018-06-15|295         |73.75   |
|2018-06-14|333         |83.25   |
|2018-06-13|238         |59.5    |
|2018-06-12|304         |76.0    |
|2018-06-11|326         |81.5    |
|2018-06-10|320         |80.0    |
|2018-06-09|269         |67.25   |
|2018-06-08|370         |92.5    |
|2018-06-07|178         |44.5    |
|2018-06-06|151         |37.75   |
|2018-06-05|147         |36.75   |
|2018-06-04|287         |71.75   |
|2018-06-03|433         |108.25  |
|2018-06-02|434         |108.5   |
|2018-06-01|325         |81.25   |
|2018-05-31|302         |75.5    |
|2018-05-30|251         |62.75   |
|2018-05-29|237         |59.25   |
|2018-05-28|145         |36.25   |
|2018-05-27|130         |32.5    |
|2018-05-26|121         |30.25   |
|2018-05-25|241         |60.25   |
|2018-05-24|287         |71.75   |
|2018-05-23|266         |66.5    |
|2018-05-22|357         |89.25   |
|2018-05-21|355         |88.75   |
|2018-05-20|258         |64.5    |
|2018-05-19|282         |70.5    |
|2018-05-18|313         |78.25   |
|2018-05-17|329         |82.25   |
|2018-05-16|315         |78.75   |
|2018-05-15|321         |80.25   |
|2018-05-14|332         |83.0    |
|2018-05-13|357         |89.25   |
|2018-05-12|308         |77.0    |
|2018-05-11|290         |72.5    |
|2018-05-10|312         |78.0    |
|2018-05-09|276         |69.0    |
|2018-05-08|230         |57.5    |
|2018-05-07|322         |80.5    |
|2018-05-06|329         |82.25   |
|2018-05-05|345         |86.25   |
|2018-05-04|363         |90.75   |
|2018-05-03|352         |88.0    |
|2018-05-02|365         |91.25   |
|2018-05-01|325         |81.25   |
|2018-04-30|353         |88.25   |
|2018-04-29|354         |88.5    |
|2018-04-28|399         |99.75   |
|2018-04-27|379         |94.75   |
|2018-04-26|365         |91.25   |
|2018-04-25|385         |96.25   |
|2018-04-24|368         |92.0    |
|2018-04-23|392         |98.0    |
|2018-04-22|334         |83.5    |
|2018-04-21|328         |82.0    |
|2018-04-20|314         |78.5    |
|2018-04-19|341         |85.25   |
|2018-04-18|378         |94.5    |
|2018-04-17|359         |89.75   |
|2018-04-16|378         |94.5    |
|2018-04-15|327         |81.75   |
|2018-04-14|325         |81.25   |
|2018-04-13|393         |98.25   |
|2018-04-12|384         |96.0    |
|2018-04-11|378         |94.5    |
|2018-04-10|341         |85.25   |
|2018-04-09|331         |82.75   |
|2018-04-08|303         |75.75   |
|2018-04-07|277         |69.25   |
|2018-04-06|393         |98.25   |
|2018-04-05|310         |77.5    |
|2018-04-04|308         |77.0    |
|2018-04-03|291         |72.75   |
|2018-04-02|333         |83.25   |
|2018-04-01|362         |90.5    |
|2018-03-31|357         |89.25   |
|2018-03-30|350         |87.5    |
|2018-03-29|341         |85.25   |
|2018-03-28|332         |83.0    |
|2018-03-27|342         |85.5    |
|2018-03-26|405         |101.25  |
|2018-03-25|429         |107.25  |
|2018-03-24|430         |107.5   |
|2018-03-23|370         |92.5    |
|2018-03-22|379         |94.75   |
|2018-03-21|373         |93.25   |
|2018-03-20|353         |88.25   |
|2018-03-19|270         |67.5    |
|2018-03-18|285         |71.25   |
|2018-03-17|285         |71.25   |
|2018-03-16|271         |67.75   |
|2018-03-15|295         |73.75   |
|2018-03-14|287         |71.75   |
|2018-03-13|336         |84.0    |
|2018-03-12|338         |84.5    |
|2018-03-11|335         |83.75   |
|2018-03-10|302         |75.5    |
|2018-03-09|271         |67.75   |
|2018-03-08|253         |63.25   |
|2018-03-07|258         |64.5    |
|2018-03-06|268         |67.0    |
|2018-03-05|336         |84.0    |
|2018-03-04|299         |74.75   |
|2018-03-03|248         |62.0    |
|2018-03-02|288         |72.0    |
|2018-03-01|226         |56.5    |
|2018-02-28|217         |54.25   |
|2018-02-27|291         |72.75   |
|2018-02-26|256         |64.0    |
|2018-02-25|212         |53.0    |
|2018-02-24|237         |59.25   |
|2018-02-23|219         |54.75   |
|2018-02-22|214         |53.5    |
|2018-02-21|199         |49.75   |
|2018-02-20|248         |62.0    |
|2018-02-19|400         |100.0   |
|2018-02-18|300         |75.0    |
|2018-02-17|280         |70.0    |
|2018-02-16|202         |50.5    |
|2018-02-15|211         |52.75   |
|2018-02-14|250         |62.5    |
|2018-02-13|344         |86.0    |
|2018-02-12|282         |70.5    |
|2018-02-11|188         |47.0    |
|2018-02-10|171         |42.75   |
|2018-02-09|196         |49.0    |
|2018-02-08|230         |57.5    |
|2018-02-07|222         |55.5    |
|2018-02-06|242         |60.5    |
|2018-02-05|209         |52.25   |
|2018-02-04|142         |35.5    |
|2018-02-03|121         |30.25   |
|2018-02-02|89          |22.25   |
|2018-02-01|120         |30.0    |
|2018-01-31|145         |36.25   |
|2018-01-30|178         |44.5    |
|2018-01-29|165         |41.25   |
|2018-01-28|156         |39.0    |
|2018-01-27|154         |38.5    |
|2018-01-26|163         |40.75   |
|2018-01-25|165         |41.25   |
|2018-01-24|107         |26.75   |
|2018-01-23|131         |32.75   |
|2018-01-22|141         |35.25   |
|2018-01-21|176         |44.0    |
|2018-01-20|206         |51.5    |
|2018-01-19|203         |50.75   |
|2018-01-18|115         |28.75   |
|2018-01-17|126         |31.5    |
|2018-01-16|207         |51.75   |
|2018-01-15|180         |45.0    |
|2018-01-14|140         |35.0    |
|2018-01-13|92          |23.0    |
|2018-01-12|96          |24.0    |
|2018-01-11|70          |17.5    |
|2018-01-10|97          |24.25   |
|2018-01-09|99          |24.75   |
|2018-01-08|92          |23.0    |
|2018-01-07|91          |22.75   |
|2018-01-06|96          |24.0    |
|2018-01-05|128         |32.0    |
|2018-01-04|255         |63.75   |
|2018-01-03|312         |78.0    |
|2018-01-02|448         |112.0   |
|2018-01-01|426         |106.5   |
|2017-12-31|507         |126.75  |
|2017-12-30|469         |117.25  |
|2017-12-29|406         |101.5   |
|2017-12-28|296         |74.0    |
|2017-12-27|252         |63.0    |
|2017-12-26|190         |47.5    |
|2017-12-25|106         |26.5    |
|2017-12-24|92          |23.0    |
|2017-12-23|71          |17.75   |
|2017-12-22|63          |15.75   |
|2017-12-21|66          |16.5    |
|2017-12-20|58          |14.5    |
|2017-12-19|73          |18.25   |
|2017-12-18|71          |17.75   |
|2017-12-17|55          |13.75   |
|2017-12-16|36          |9.0     |
|2017-12-15|27          |6.75    |
|2017-12-14|29          |7.25    |
|2017-12-13|50          |12.5    |
|2017-12-12|101         |25.25   |
|2017-12-11|159         |39.75   |
|2017-12-10|135         |33.75   |
|2017-12-09|95          |23.75   |
|2017-12-08|59          |14.75   |
|2017-12-07|253         |63.25   |
|2017-12-06|307         |76.75   |
|2017-12-05|329         |82.25   |
|2017-12-04|209         |52.25   |
|2017-12-03|81          |20.25   |
|2017-12-02|48          |12.0    |
|2017-12-01|34          |8.5     |
|2017-11-30|38          |9.5     |
|2017-11-29|46          |11.5    |
|2017-11-28|82          |20.5    |
|2017-11-27|72          |18.0    |
|2017-11-26|104         |26.0    |
|2017-11-25|103         |25.75   |
|2017-11-24|98          |24.5    |
|2017-11-23|69          |17.25   |
|2017-11-22|47          |11.75   |
|2017-11-21|141         |35.25   |
|2017-11-20|146         |36.5    |
|2017-11-19|80          |20.0    |
|2017-11-18|71          |17.75   |
|2017-11-17|72          |18.0    |
|2017-11-16|65          |16.25   |
|2017-11-15|78          |19.5    |
|2017-11-14|129         |32.25   |
|2017-11-13|139         |34.75   |
|2017-11-12|106         |26.5    |
|2017-11-11|110         |27.5    |
|2017-11-10|94          |23.5    |
|2017-11-09|91          |22.75   |
|2017-11-08|113         |28.25   |
|2017-11-07|129         |32.25   |
|2017-11-06|169         |42.25   |
|2017-11-05|149         |37.25   |
|2017-11-04|144         |36.0    |
|2017-11-03|136         |34.0    |
|2017-11-02|128         |32.0    |
|2017-11-01|139         |34.75   |
|2017-10-31|155         |38.75   |
|2017-10-30|155         |38.75   |
|2017-10-29|192         |48.0    |
|2017-10-28|157         |39.25   |
|2017-10-27|171         |42.75   |
|2017-10-26|191         |47.75   |
|2017-10-25|171         |42.75   |
|2017-10-24|185         |46.25   |
|2017-10-23|232         |58.0    |
|2017-10-22|267         |66.75   |
|2017-10-21|326         |81.5    |
|2017-10-20|315         |78.75   |
|2017-10-19|312         |78.0    |
|2017-10-18|245         |61.25   |
|2017-10-17|383         |95.75   |
|2017-10-16|348         |87.0    |
|2017-10-15|264         |66.0    |
|2017-10-14|222         |55.5    |
|2017-10-13|257         |64.25   |
|2017-10-12|295         |73.75   |
|2017-10-11|277         |69.25   |
|2017-10-10|335         |83.75   |
|2017-10-09|340         |85.0    |
|2017-10-08|325         |81.25   |
|2017-10-07|314         |78.5    |
|2017-10-06|307         |76.75   |
|2017-10-05|270         |67.5    |
|2017-10-04|255         |63.75   |
|2017-10-03|240         |60.0    |
|2017-10-02|280         |70.0    |
|2017-10-01|241         |60.25   |
|2017-09-30|291         |72.75   |
|2017-09-29|117         |29.25   |
|2017-09-28|103         |25.75   |
|2017-09-27|107         |26.75   |
|2017-09-26|110         |27.5    |
|2017-09-25|171         |42.75   |
|2017-09-24|243         |60.75   |
|2017-09-23|226         |56.5    |
|2017-09-22|307         |76.75   |
|2017-09-21|329         |82.25   |
|2017-09-20|260         |65.0    |
|2017-09-19|459         |114.75  |
|2017-09-18|506         |126.5   |
|2017-09-17|281         |70.25   |
|2017-09-16|276         |69.0    |
|2017-09-15|256         |64.0    |
|2017-09-14|236         |59.0    |
|2017-09-13|161         |40.25   |
|2017-09-12|164         |41.0    |
|2017-09-11|197         |49.25   |
|2017-09-10|267         |66.75   |
|2017-09-09|286         |71.5    |
|2017-09-08|219         |54.75   |
|2017-09-07|197         |49.25   |
|2017-09-06|186         |46.5    |
|2017-09-05|292         |73.0    |
|2017-09-04|295         |73.75   |
|2017-09-03|188         |47.0    |
|2017-09-02|142         |35.5    |
|2017-09-01|104         |26.0    |
|2017-08-31|108         |27.0    |
|2017-08-30|86          |21.5    |
|2017-08-29|111         |27.75   |
|2017-08-28|69          |17.25   |
|2017-08-27|82          |20.5    |
|2017-08-26|114         |28.5    |
|2017-08-25|113         |28.25   |
|2017-08-24|137         |34.25   |
|2017-08-23|148         |37.0    |
|2017-08-22|166         |41.5    |
|2017-08-21|150         |37.5    |
|2017-08-20|155         |38.75   |
|2017-08-19|158         |39.5    |
+----------+------------+--------+
only showing top 500 rows